body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  margin: 8px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding: 8px;
  margin: 8px;
}

.button-container {
  padding: 0 5px;
  margin:8px;
  background: #e3f4ff;
  text-align: center;
  margin-bottom: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding:8px 15px;
  margin-bottom:8px;
}

span {
  display:block;

}
/*this is the solution from the file, i think mine was actually more similar to the solution than the actual solution*/
/*body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
  
}

.title {
  background: #e3f4ff;
  padding: 8px;
  margin: 8px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
  margin-bottom: 8px;
}

.button-container {
  padding: 0 5px;
  margin:8px;
  background: #e3f4ff;
  text-align: center;
  margin-bottom: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding:8px 15px;
  margin-bottom:8px;
}

span {
  display:block;

}*/