/*making sure we're taking advantage of the full screen*/
body{
    width: 100%;
    height:100%;
    margin: 0;
    padding:0; 
    font-family: 'Nanum Gothic', sans-serif;
}

/*NAV*/
/*When collapsing, icons will replace the home about and picture links at the navbar*/
div>a>img{
  display:none;  
}

/*.navbar{
    background-color:#6bade4;
    border-radius:25px;
    height:30px;
    width:300px;
    position:fixed;
    margin:0;
    padding-top:15px;
    padding-bottom:5px;
    text-align:left;
    font-size:18px;
    z-index:1;
    order:1;
}

.nav-container{
    margin-left: 20px;
}

.nav-item{
    display:inline;
    margin:10px;
    font-size:20px;
}*/
.navbar{
    background-color:#6bade4;
    border-radius:25px;
    height:30px;
    width:300px;
    position:fixed;
    margin:0;
    padding-top:15px;
    padding-bottom:5px;
    text-align:left;
    font-size:18px;
    top:10px;
    left:50px
}

.nav-container{
    margin-left: 20px;
}

.nav-item{
    display:inline;
    margin:10px;
    font-size:20px;
}
a{
     text-decoration: none;
    color:white;
}

a:hover{
   color:#032236;
    font-weight:bolder;
}

/* NAV MOBILE UI*/
@media (min-width: 1px) and (max-width:796px){
    .navbar{
        width:150px;
        margin-left:5%;  
    }
    .nav-container{
         margin-left: 15px;
    }
    div>a>span{
        display:none;  
    }
    div>a>img{
        display:inline-flex;;
        justify-content:space-around;
        width:16px;
        height:16px;
    }
}

/*NAV BIG SCREEN UI*/
@media (min-width:797px){
   .navbar{
       margin-left:5%;  
   } 
}

/*TITLE AND BANNER*/
header{
    padding-top:10px;
    background-image: url(Images/messi-lifting.png);
    opacity: 0.8;
    height: 120vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    font-size:3em;
    color:#032236;
    font-family: 'Courgette', cursive;
}

.title>h1{
    margin:4% 2%;
    margin-bottom:0;
}
div.title>p{
    margin-left:8%;
    font-size:30px;
    margin-top:0;
}

/*MOBILE UI*/
@media (min-width:1px) and (max-width:796px){
    .title{
        position:absolute;
        top:60px;
        left:15px;
        font-size: 1.5em;
        width:100%;
    }
    div.title>p{
        font-size: 16px;

    }
    header{
        height:100vh;
    }
}


/*main section/about section*/

#main{
    display:block;
    height:90vh;
    width:100vw;
}

article{
    background-color:#6bade4;
    opacity:0.8;
}

#about-second{
  display:none;
}
.side-main{
    width:20%;
    height:100%;
    background-color:white;
    border-radius:3px;
}

.main-left{
    float:left;  
}

.main-right{
   float:right;
}

div.about{
    margin-top:5%;
    margin-left:2%;
    float:left;
    width:56%;
    font-family: 'Nanum Gothic', Georgia;
    font-size:12px;
    font-weight:lighter;
    color:white;
}

.about>h1{
    text-align:center;
    margin:0 auto;
    font-size:30px
}
@media (min-width:1px) and (max-width:796px){
    #about-main{
        display:none;
    }
    #about-second{
        display: block;
    }
    #main{
        height:50vh;
    }
    #about-second>h2{
        margin-bottom:0;
    }
}

/*IMAGE GALLERY*/
#container{
    margin-top: 2%;
    display: inline-flex;
    flex-wrap:wrap;
    justify-content: space-around;
  }  
.container-image{
    width:500px;
    height:440px;
    margin:10px;
    filter:brightness(50%);
    transition: all 1s;
  }
  #container>div>img:hover{
     margin-top: 10px;
      transform: scale(1.15);
      filter: brightness(100%);

}



@media (min-width:1px) and (max-width:796px){
    #container{
        margin: 0;
    }
}
/*awards section inside the main */

.awards{
    display: flex;
    justify-content: center;
}

.award-item{
    width:30%;
    margin:1%;
}
.award-icon{
    height:100px;
    width:100px;
}

.times{
    font-size:12px;
    line-height:12px;
}

.times>h3{
    font-weight: bold;
}

.five{
    padding:0;
}

.t{
    display: inline;
}

.together{
    margin:6px 3px;
}
@media (max-width:796px){
  .award-icon{
      height:80px;
      width:80px;
  }
  .times>h3{
      font-weight: bold;
      margin:0;
  }  

}
/*ADDING IMAGE DESCRIPTION WHEN HOVERING OVER IMAGE*/
 .des{
    font-size: 12px;
        color:whitesmoke;
        opacity: 0.7;
        position:relative;
        left:18px;
        bottom:60px;
        transition: all 0.8s;
        width:500px;
 }

@media (min-width:797px){
    #container>div>img:hover ~ .img-des-1{
        filter:opacity(0);
    }
    .img-des-2{
        display:none;
    }
}

@media (max-width:796px){
    #container>div>img:hover ~ .img-des-2{
        filter:opacity(0);
    }
    .img-des-1{
        display:none;
    }
}

footer>div{
    width:100%;
    background-color:#6bade4; 
}
footer{
    text-align: center;
    width:100%;
    height:20px;
    font-size: 18px;
    color:white;
}
