body {
  max-width: 100%;
  margin: 0;
  background-color: orange;
}

h1{
	border-bottom:5px dotted black;
	margin-top:0;
	font-style:italic;
	font-size:50px;
}

#wrap{
	text-align:center;
	margin-left:25%;
	margin-right:25%;
	background-color:#FFE196;
	border:5px dotted black;
}

#wrap>p{
	padding:0 20px;
}

li{
  list-style-type:none;
  font-style:italic;
	
}

li::first-letter{
	font-size:20px;
}

