body{
    width: 100%;
    height:100%;
    margin: 0;
    padding:0;
 
}

/*making the nav match argentina flag colors, and showing the page we're on with a different background*/
.navbar{
    text-align:left;
    background-color:#6bade4;
    border-radius:25px;
    height:50px;
    font-size:18px;
    width:30%;
    margin-left:5%;  
    position:fixed;
}

ul{
    list-style-type:none;
    margin:0;
    height:100%;
    padding-top:15px;
    font-family: 'Nanum Gothic', sans-serif;
}

li{
    display:inline;
    margin:10px;
    font-size:20px;
}

a{
     text-decoration: none;
    color:white;
    
}

a:hover{
   color:#032236;
    font-weight:bold;
    font-size:21px;
}


.title{
    font-size:3em;
    color:#032236;
    font-family: 'Courgette', cursive;
}

.title>h1{
    margin:2%;
    margin-bottom:0;
    
}
div.title>p{
    margin-left:10%;
    font-size:30px;
    margin-top:0;
}

/*banner */

header{
    padding-top:10px;
    background-image: url(Images/messi-lifting.png);
    opacity: 0.8;
    height: 120vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*main section/about section*/

#main{
    display:block;
    height:50vh;
}
article{
        background-color:#6bade4;
        opacity:0.8;
}
.side-main{
    width:20%;
    height:100%;
    background-color:white;
    
    border-radius:3px;
}

.main-left{
    float:left;  
}

.main-right{
   float:right;
}

div.about{
    margin-top:1%;
    margin-left:2%;
    float:left;
    width:56%;
    font-family: 'Nanum Gothic', Georgia;
    font-size:12px;
    font-weight:lighter;
    color:white;
}

.about>h1{
    text-align:center;
    margin:0 auto;
    font-size:30px
}

/* carousel */
/*  .wrapper-2{
   display:none;
 } */
.wrapper {
  margin-top:5%;
  margin-left:20%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
  overflow: hidden;
  height: 100vh; 
}

.gallery {
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.lil-nav {
  overflow-y: scroll;
  overflow-x: hidden;
}

.gallery__img {
  scroll-snap-align: start;
  margin-bottom: 10px;
}

.lil-nav a {
  height: 200px;
  display: flex;
  margin-bottom: 10px;
}

.lil-nav__img {
  object-fit: cover;
    filter: saturate(0);
  transition: 0.3s ease all;
}


.lil-nav__img:hover {
  transform: scale(1.05);
  filter: saturate(1);
}

@media (max-width:1140px){
  .wrapper{
    display:none;
  }
}
