body,html{
	margin: 0;
	height:100%;
	width:100%;
}
.wrap{
	width:100%;
	display: flex;
	gap: 0 10px;

}
/*red*/
.container-red{
	display:flex;
	flex-direction: column;
	height:80%;
	width:13%;
	margin-left:2%;
}

.small-red{
	background-color: lightpink;
	padding:10px;
	margin:10px 0;
	margin-left: 10px;
	padding-bottom: 0;
	height:100px;
	width:100px;
}

/*blue*/
.container-blue{
	width:80%;
	display:flex;
	flex-direction: column;
	justify-content: space-evenly;

}
.big-blue{
	background-color: lightskyblue;
	height:100px;
	padding:10px;
	margin:10px;
	margin-left:0;
	padding-bottom: 0;
	width:100%;
}

/*yellow*/
.giant-yellow{
	background-color: #90FDA8;
	height:100px;
	padding:10px;
	padding-right: 0;
	padding-bottom: 0;
	width:94%;
	margin-left:3%;
	margin-right:3%;
}